.carousel {
    margin: 17px 0;
    margin-bottom: 20px;
    .item {
        width: 100%;
        height: 211px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

@media screen and (min-width: 960px) {
    .carousel {
        .item {
            height: 511px;
        }
    }
}