footer {
    padding: 34px 4px;
    background-color: white;
}

.footer-logo { 
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 30px 0;
}

.socials-row {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 32px;

    a {
        margin-right: 20px;
        color: black;
        font-size: 24px;
        &:last-child {
            margin-right: 0;
        }
    }

    &.white {
        a {
            color: white;
        }
    }
}

.copyright-text {
    text-align: center;
}