footer {
    padding: 28px 4px 21px 4px;
    background-color: white;
}

.footer-logo { 
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 28px 0px 17px 0px;
}

.socials-row {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 32px;

    a {
        margin-right: 20px;
        color: black;
        font-size: 32px;
        &:last-child {
            margin-right: 0;
        }
    }

    &.white {
        a {
            color: white;
        }
    }
}

.copyright-text {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    line-height: 20px;
    height: 32px;
}