header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 4px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    position: sticky;
    top: 0;
    left: 0;
    transition: all .55s ease;
    z-index: 1;
    &.menu-opened { 
        top: 0;
        .header-controls {
            z-index: 20;
        }
    }
}

.header-controls {
    display: flex;
    align-items: center;
}

.header-link {
    color: black;
    margin-right: 20px;
}

//- animations 

.hide {
    // position: fixed;
    top: -120px;
}