header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 4px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    transition: all .55s ease;
    z-index: 6;
    &.menu-opened { 
        top: 0;
        .header-controls {
            z-index: 20;
        }
        
        .header-link {
            color: #fff;
        }
    }

    &.transparent {
        background: transparent;
        box-shadow: none;
        .header-link {
            color: #fff;
        }

        .menu {
            background-color: transparent;
            border-color: transparent;
        }
    }

    .socials-row {
        display: none;
    }
}

.header-controls {
    display: flex;
    align-items: center;
}

.header-link {
    color: black;
    margin-right: 20px;
    font-weight: 500;
}

//- animations 

.hide {
    // position: fixed;
    top: -120px;
}

.header-list {
    display: none;
}

@media screen and (min-width: 1260px) {
    header {
        padding: 12px 4px;
        
        .socials-row {
            display: block;
            width: auto;
            margin-top: 0;
            margin-right: 15px;
        }
    }

    .header-list {
        display: flex;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        li {
            margin-right: 40px;
            &:last-child {
                margin-right: 0;
            }

            a {
                color: black;
                font-size: 28px;
                font-weight: 500;
            }
        }
    }

    .header-controls {
       .menu {
           display: none;
       }
    }
}