header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 4px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    transition: all .55s ease;
    z-index: 6;
    &.menu-opened { 
        top: 0;
        .header-controls {
            z-index: 20;
        }
        
        .header-link {
            color: #fff;
        }
    }

    &.transparent {
        background: transparent;
        box-shadow: none;
        .header-link {
            color: #fff;
        }

        .menu {
            background-color: transparent;
            border-color: transparent;
        }
    }
}

.header-controls {
    display: flex;
    align-items: center;
}

.header-link {
    color: black;
    margin-right: 20px;
    font-weight: 500;
}

//- animations 

.hide {
    // position: fixed;
    top: -120px;
}