.menu {
    background-color: black;
    border: 1px solid black;
    padding: 12px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
}

.button-content {
    width: 28px;
    height: 2px;
    background-color: #fff;
    display: inline-block;
    position: relative;
    &:after, &:before {
        content: "";
        width: 28px;
        height: 2px;
        background-color: #fff;
        display: block;
        position: absolute;
    }
    &:after {
        top: -6px;
    }
    &:before {
        bottom: -6px;
    }
}
