#menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    align-items: center;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.75);
    top: 0;
    left: 0;
    color: white;
    padding-top: 60px;
    padding-bottom: 80px;
    transition: all .45s;
    opacity: 0;
    transform: translateX(100%);

    &.menu-slide-in {
        opacity: 1;
        transform: translateX(0);
    }

    .title-block {
        h2 {
            font-size: 28px;
            margin-bottom: 10px;
        }
        p {
            text-align: center;
            opacity: 0.5;
        }
    }
}

.menu-list {
    flex: 1;
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    &-item {
        margin-bottom: 18px;
        a {
            font-size: 26px;
            color: white;
        }
    }
}