.menu {
    background-color: black;
    border: 1px solid black;
    padding: 12px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;

    &.menu-opened {
        height: 44px;
        border-radius: 50%;
        .button-content {
            width: 18px;
            span {
                transform: scale(0);
                transform-origin: 50% 50%;
            }
            &:after {
                width: 18px;
                transform: rotate(45deg) translate(4px, 4px);
            }
            &:before {
                width: 18px;
                transform: rotate(-45deg) translate(5px,-4px);
            }
        }
    }
}

.button-content {
    width: 28px;
    height: 2px;
    display: inline-block;
    position: relative;
    transition: all .35s;

    span {
        width: 28px;
        height: 2px;
        background-color: #fff;
        display: inherit;
        transition: all .35s;
    }

    &:after, &:before {
        content: "";
        width: 28px;
        height: 2px;
        background-color: #fff;
        display: block;
        position: absolute;
        transition: all .35s;
    }
    &:after {
        top: -6px;
    }
    &:before {
        bottom: -6px;
    }
}
