.order-block {
    position: fixed;
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    z-index: 20;
    top: 0;
    left: 0;
    flex-wrap: wrap;
    color: white;
    transition: all .45s;
    opacity: 0;
    transform: scale3d(0.25, 0.25, 0.25) translateZ(0);
    backface-visibility: hidden;
    -webkit-font-smoothing: antialiased;
    pointer-events: none;
    background-color: #EF583A;

    .order-logo {
        position: absolute;
        left: 4px;
        top: 8px;
    }
    .close.big {
        display: none;
    }
    .content {
        background-color: #EF583A;
        padding: 80px 4px 70px;
        padding-top: 80px;
        padding-bottom: 70px;
        width: 100%;
        height: 95%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        input::placeholder, textarea::placeholder {
            color: rgba($color: #fff, $alpha: 0.55)
        }
    }

    .image-block {
        display: none;
    }

    &.menu-slide-in {
        opacity: 1;
        transform: scale3d(1, 1, 1) translateZ(0);
        pointer-events: auto;
    }

    h2 {
        font-weight: 500;
        font-size: 28px;
        line-height: 36px; 
        margin-bottom: 23px;
        text-align: center;
    }
    p {
        font-size: 17px;
        line-height: 24px;
        text-align: justify;
        margin-bottom: 32px;
        display: none;
    }

    .callback-form {

        textarea {
            height: 220px;
        }

        .btn {
            cursor: pointer;
            position: relative;
            overflow: hidden;
            display: block;
            max-width: 100%;
            .mask {
                background-color: #fff;
                background-color: rgba(255, 255, 255, 0.5);
                height: 100px;
                position: absolute;
                transform: translate3d(-120%, -50px, 0) rotate3d(0, 0, 1, 45deg);
                transition: all 1.1s cubic-bezier(0.19, 1, 0.22, 1);
                width: 200px;
            }
    
            &:hover {
                .mask {
                    background-color: #fff;
                    transform: translate3d(155%, -100px, 0) rotate3d(0, 0, 1, 90deg);
                }
            }
        }
    }
}

@media screen and (orientation: landscape) {
    .order-block .callback-form textarea {
        height: 70px;
    }

    .post-wrapper .hero-content {
        height: 325px!important;
    }
}

@media screen and (min-width: 1260px) {
    .order-block {
        overflow: initial;
        flex-direction: row;

        .order-logo {
            position: absolute;
            left: 20px;
            top: 20px;
            width: 84px;
        }

        .content {
            width: 75%;
            position: relative;
            padding: 80px 12%;
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        h2 {
            font-size: 41px;
            line-height: 130%;
            margin-bottom: 28px;
        }
        p {
            padding-left: 3px;
            display: block;
        }
        .image-block {
            width: 25%;
            height: 100vh;
            display: block;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .callback-form {
            form {
                display: flex;
                flex-wrap: wrap;
            }
            .form-group {
                width: 100%;
                textarea {
                    height: 102px;
                }
            }
            .checkbox-group {
                width: 50%;
            }
            .btn {
                width: 262px;
                margin-top: 38px;
            }
        }

        .close {
            &.big{
                width: 52px;
                height: 52px;
                background-color: #fff;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                border: none;
                position: absolute;
                top: 20px;
                right: 20px;
                i {
                    font-size: 20px;
                }
            }
        }
    }
}