.success-message {
    max-width: 350px;
    width: 95%;
    height: 438px;
    padding: 50px 20px;
    background-color: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    color: #000;
    text-align: center;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &.active {
        display: flex;
    }

    .close {
        position: absolute;
        top: 15px;
        right: 15px;
    }

    h2 {
        font-size: 28px;
        line-height: 36px;
        margin-bottom: 18px;
    }

    img {
        margin-bottom: 25px;
    }
    
    p {
        font-size: 17px;
        line-height: 24px;
    }
}
