// ------------- MIXINS ------------- //
@mixin transition($time, $property: all, $easing: ease-in) {
    transition: $property $time $easing;
}

// ------------- VARIABLES ------------- //
$parallax-offset: 23vh;
$content-offset: 30vh;
$transition-speed: 1.2s;
$slide-number: 4;

.background {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
  will-change: transform;
  backface-visibility: hidden;
  height: 100vh + $parallax-offset;
  position: fixed;
  width: 100%;
  transform: translateY($parallax-offset);
  @include transition($transition-speed, all, cubic-bezier(0.22, 0.44, 0, 1));
  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.3);
  }
  &:first-child {
    transform: translateY(-$parallax-offset / 2);
    .content-wrapper {
      transform: translateY($parallax-offset /2);
    }
  }
}

/* Set stacking context of slides */
@for $i from 1 to ($slide-number + 1) {
    .background:nth-child(#{$i}) {
        z-index: ($slide-number + 1) - $i; 
    }
}

.about-content {
  overflow: hidden;
  &-wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-flow: column nowrap;
    color: #fff;
    will-change: transform;
    backface-visibility: hidden;
    @include transition($transition-speed + .5, all, cubic-bezier(0.22, 0.44, 0, 1));
  }
  &-title {
    font-size: 12vh;
    line-height: 1.4;
  }
}

// ------------- SET TRANSFORM VALUES ------------- //

.background.up-scroll {
  transform: translate3d(0,-$parallax-offset / 2,0);
  .content-wrapper {
    transform: translateY($parallax-offset / 2);
  }
  + .background {
    transform: translate3d(0,$parallax-offset,0);
      .content-wrapper {
        transform: translateY($parallax-offset);
      }
    }
}

.background.down-scroll {
  transform: translate3d(0,-(134vh),0);
  .content-wrapper {
    transform: translateY($content-offset);
  }
  + .background:not(.down-scroll) {
    transform: translate3d(0,-$parallax-offset / 2,0);
      .content-wrapper {
        transform: translateY($parallax-offset / 2);
      }
  }
}

.dots-container {
  position: fixed;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 5;
  display: flex;
  flex-direction: column; 
  align-items: center;
  .dot {
    width: 8px;
    height: 8px;
    background-color: rgba($color: #fff, $alpha: 0.75);
    border-radius: 50%;
    margin-bottom: 10px;
    transition: all .35s;
    &.active {
      width: 10px;
      height: 10px;
    }
  }
}

.scroll-up {
  width: 100%;
  height: 45vh;
  position: absolute;
  top: 0;
  z-index: 5;
}

.scroll-down {
  width: 100%;
  height: 45vh;
  position: absolute;
  bottom: 0;
  z-index: 5;
}

.background:nth-child(2n) {
  .about-content-wrapper {
    color: #fff;

    .about-icon {
      &:before, &:after {
        background-color: #fff;
      }
    }
  }
}
.about-content-wrapper {
  color: black;
  &:nth-child(2n) {
    color: #fff
  }
  h2 {
    font-size: 18vw;
    line-height: 100%;
    margin-bottom: 28px;
  }

  p {
    font-size: 17;
    line-height: 24px;
    margin: 0 auto;
    margin-top: 30px;
    width: 70%;
  }

  .about-icon {
    position: relative;
    display: inline-block;
    &:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 10%;
      transform: translateY(-50%);
      background-color: #000;
      width: 25%;
      height: 1px;
    }
    &:before {
      content: '';
      position: absolute;
      top: 50%;
      right: 10%;
      transform: translateY(-50%);
      background-color: #000;
      width: 25%;
      height: 1px;
    }
  }
}

@media screen and (min-width: 1100px) {
  .background:nth-child(2n) {
    .about-content-wrapper {
      color: #fff;

      .about-icon {
        &:before, &:after {
          background-color: #fff;
        }
      }
    }
  }
  .about-content-wrapper {
    color: black;
    &:nth-child(2n) {
      color: #fff
    }
    h2 {
      font-size: 18vw;
      line-height: 100%;
      margin-bottom: 30px;
    }

    p {
      font-size: 28px;
      line-height: 36px;
      margin: 0 auto;
      margin-top: 40px;
      width: 70%;
    }

    .about-icon {
      position: relative;
      display: inline-block;
      &:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 10%;
        transform: translateY(-50%);
        background-color: #000;
        width: 35%;
        height: 1px;
      }
      &:before {
        content: '';
        position: absolute;
        top: 50%;
        right: 10%;
        transform: translateY(-50%);
        background-color: #000;
        width: 35%;
        height: 1px;
      }
    }
  }
}

@media screen and (orientation: landscape) {
  .background:first-child {
    transform: translate3d(0,-13.5vh,0);
  }

  .background.up-scroll{
    transform: translate3d(0,-13.5vh,0);
  }

  .background.down-scroll {
    transform: translate3d(0,-140vh,0);
  }
  
  .background.down-scroll+.background:not(.down-scroll) {
    transform: translate3d(0,-13.5vh,0);
  }

  .about-icon {
    &:after {
      left: 5%!important;
      width: 35%!important;
    }
    &:before {
      right: 5%!important;
      width: 35%!important;
    }
  }
}