extends ../layouts/master.pug

block title
  title about My duck's vision

block content
    <div class="dots-container"></div>
    <div class="about-content">
        <section class="background" style="background-image: url(https://i.postimg.cc/kXq9Qmnj/bgd1.jpg)">
            <div class="about-content-wrapper">
            </div>
        </section>
        <section class="background" style="background-image: url(https://i.postimg.cc/W14vywqg/photo-1424746219973-8fe3bd07d8e3.jpg)">
            <div class="about-content-wrapper">
            </div>
        </section>
        <section class="background" style="background-image: url(https://i.postimg.cc/TY0xQ41T/photo-1433840496881-cbd845929862.jpg)">
            <div class="about-content-wrapper">
            </div>
        </section>
        <section class="background" style="background-image: url(https://i.postimg.cc/kXq9Qmnj/bgd1.jpg)">
            <div class="about-content-wrapper">
            </div>
        </section>
    </div>