extends ../layouts/master.pug

block title
  title My Page - Contact

block basicSeo
  meta(name='description' content='Contact page')
  meta(name='keywords', content='contact, page')
  meta(name='author' content='')

block manifestBrowserconfigFiles
  link(href='../manifest.json', rel='manifest')
  meta(name='msapplication-config' content='../browserconfig.xml')

block content
  .callback-form
    h2 Обратная связь:
    form(action="")
      .form-group
        input.texted-input(type="text" placeholder="Имя")
      .form-group
        input.texted-input(type="email" placeholder="Email")
      .form-group.textarea-group
        textarea.texted-input(placeholder="Сообщение")
      .form-group
        input.checkbox#check(type="checkbox" checked)
        label.checkbox-label(for="check") Нажимая на кнопку «Отправить», я принимаю условия #[a(href="") Пользовательского соглашения и даю согласие на обработку моих персональных данных]
      button.btn Отправить
  .contact-wrapper
    h1.title «Отведите меня к вашему лидеру!»
    #map
    ul.contacts-list
      li
        a(href="mailto:sales@myducksvision.ru")
          i.fas.fa-envelope
          span sales@myducksvision.ru
      li
        a(href="tel:89857898991")
          i.fas.fa-phone-alt
          span 8-985-789-89-91
      li
        span МФК «Город Столиц Москва» Москва, Пресненская набережная, дом 8, строение 1, 30 этаж
    .highlights
      .highlight
        .highlight-button
          i.fas.fa-angle-down
          span Как к нам пройти #[i (подробная инструкция)]
        .highlight-content
          .text-wrapper
            p Это не просто рекламный ролик, а настоящий стандарт индустрии, который мы установили в России. «Скандальная правда» — самый копируемый формат My Duck’s Vision, визитная карточка агентства. Ежегодно появляются десятки видео в похожей стилистике, и авторство каждого из них приписывают нам.
    .contacts-footer
      include ../components/socialsRow.pug
      .footer-logo
        img(src="assets/images/footer-logo.svg", alt="footer logo")
      .copyright-text ©2019 My Duck's Vision

