extends ../layouts/master.pug

block title
  title Some post - title

block header
  include ../components/header.pug

block content
    button.btn.order-btn.fixed-btn(type="button") Заказать проект
    .post-wrapper1
        h1.title Теория заговора — I’m lovin’ it! 💖
        .post-socials
          <div data-mobile-view="true" data-share-size="30" data-like-text-enable="false" data-background-alpha="0.0" data-pid="1853681" data-mode="share" data-background-color="#ffffff" data-share-shape="round-rectangle" data-share-counter-size="12" data-icon-color="#ffffff" data-mobile-sn-ids="fb.vk.tw.ok.wh.tm.vb." data-text-color="#000000" data-buttons-color="#FFFFFF" data-counter-background-color="#ffffff" data-share-counter-type="disable" data-orientation="fixed-left" data-following-enable="false" data-sn-ids="fb.vk.tw.ok.tm." data-preview-mobile="false" data-selection-enable="false" data-exclude-show-more="false" data-share-style="1" data-counter-background-alpha="1.0" data-top-button="false" class="uptolike-buttons" ></div>
        p.sub-title-text Или как мы президенту России «скандальную правду» показывали.
        .hero-content.full-width
          iframe(width="100%" height="100%" src="https://www.youtube.com/embed/WizgSa1byUw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
        p.post-description Это не просто рекламный ролик, а настоящий стандарт индустрии, который мы установили в России. «Скандальная правда» — самый копируемый формат My Duck’s Vision, визитная карточка агентства. Ежегодно появляются десятки видео в похожей стилистике, и авторство каждого из них приписывают нам.
        .highlights
          .highlight
            .highlight-button
              span Инструментарий
              i.fas.fa-angle-down
            .highlight-content
              .text-wrapper
                h2 «Здесь и начинается самое интересное…»
                p Как известно, в России конспирология — это национальная идея. Мы первыми догадались упаковать эту национальную идею в обертку эффектной, динамичной инфографики. Под сетью ресторанов McDonald’s расположены бункеры на случай ядерной войны?! Конечно, разве может быть иначе! Кстати, McDonald’s не платил ни цента за этот ролик. Мы беспардонно использовали бренд всемирно-известного фаст-фуда для рекламы фитнес-смены «Беги за мной», проходившей в рамках молодежного форума «Селигер’2011». Рекламное сообщение было замаскировано с помощью оригинальной механики. В финале ролика зрителям предлагалось перейти на лендинг писофщит.рф.    
              .quote
                p.quote-text «Здесь и начинается самое интересное, на весь экран на сайте появляется текст: «Мы не можем быть уверены, что этот видеоролик содержит достоверную информацию, а не представляет собой фантазии сумасшедшего конспиролога. Но мы знаем точно, неправильное питание является причиной огромного числа заболеваний, негативно влияет на все органы человека (в том числе на репродуктивную систему), серьезно сокращает жизнь и её качество. И мы знаем, как вам начать вести здоровый образ жизни прямо сейчас». Слова «здоровый образ жизни» выделены другим цветом и подчеркнуты - так обычно выделяется ссылка на другие ресурсы. Если пройти и по ней, то вы попадете на сайт zamnoy.org, посвященный проекту Росмолодежи «Беги за мной». Топовое мероприятие, продвигаемое проектом — фитнес-тур на Селигер. Клик по центральному изображению на сайте приведет на страницу с выбором смены и регистрации на форум «Селигер-2011». #[br ] Подсчитать количество участников «Селигера-2011», завербованных таким способом, не представляется возможным. Но судя по рейтингу посещаемости портала «Беги за мной», который резко подскочил фактически с нуля сразу после размещения вирусного видео, можно сказать, что счет может пойти на сотни, если не тысячи.»
                a(href="").quote-link На «Селигер-2011» попадут делегаты, зараженные вирусом 
          .highlight
            .highlight-button
              span Суд
              i.fas.fa-angle-down
            .highlight-content
              .text-wrapper
                h2 Око за око
                p Коллективный Рональд Макдоналд не стал подавать в суд на My Duck’s Vision за клевету в адрес своих ресторанов. Более того, в 2014 году Юрия Дегтярёва — креативного директора агентства, пригласили принять участие в благотворительной акции, организованной благотворительным фондом «Дом Роналда Макдоналда»: собирать деньги на помощь детям в рамках акции «МакХэппи День». В звёздной компании из Иосифа Кобзона, Никаса Сафронова, Яны Чуриковой и многих других известных персонажей, за стойкой первого ресторана Макдоналдс, открытого в России. Конечно же приглашение было принято, а кармический долг выплачен.
                .owl-carousel.carousel.full-width
                  .item
                    img(src="assets/images/post1.jpg")
                  .item
                    img(src="assets/images/post2.jpg")
                  .item
                    img(src="assets/images/post3.jpg")
                  .item
                    img(src="assets/images/post1.jpg")
                  .item
                    img(src="assets/images/post2.jpg")
          .highlight
            .highlight-button
              span Д. А. Медведев
              i.fas.fa-angle-down
            .highlight-content
              .text-wrapper
                h2 2008 - 2012
                p Д. А. Медведев был президентом России 4 года. 3 минуты из которых занял у него #[a(href="#") просмотр скандальной «правды» о McDonald’s].
          .highlight
            .highlight-button
              span Гифка тест
              i.fas.fa-angle-down
            .highlight-content
              .text-wrapper
                .full-width
                    img(src="assets/images/di.gif")
                p Вы можете похвастаться тем, что однажды заставили нервничать президента России? Мы можем!
    .post-more-block
        h2 Другие работы:
        .row
          a(href="#").card
            img(src="assets/images/bg5.jpg", alt="")
        .row
          a(href="#").card
            img(src="assets/images/bg9.jpg", alt="")
        .row
          a(href="#").card
            img(src="assets/images/bg13.jpg", alt="")
block footer
    include ../components/footer.pug
          