mixin socialsRow(theme)
    div.socials-row(class=theme)
        a(href="#")
            i.fab.fa-youtube
        a(href="#")
            i.fab.fa-facebook-f
        a(href="#")
            i.fab.fa-telegram-plane
        a(href="#")
            i.fab.fa-vk
        a(href="#")
            i.fab.fa-instagram
        a(href="#")
            i.fab.fa-twitter