extends ./layouts/master.pug

block title
  title My duck's vision

block manifestBrowserconfigFiles
  link(href='../manifest.json', rel='manifest')
  meta(name='msapplication-config' content='../browserconfig.xml')

block header
  include ./components/header.pug

block content
  button.btn.order-btn.fixed-btn(type="button") Заказать проект
    .mask
  .main-wrapper
    .row
      a(href="https://benj4z.github.io/mdv/dist/post1/").card
        .blackout
            h2 Banner title
        img(src="assets/images/bg1.jpg", alt="")
    .row
      .column
        a(href="#").card
          .blackout
            h2 Banner title
          img(src="assets/images/bg4.jpg", alt="")
      .column.double-side
        a(href="#").card.full
          .blackout
            h2 Banner title
          img(src="assets/images/bg3.jpg", alt="")
        a(href="#").card.full
          .blackout
            h2 Banner title
          img(src="assets/images/bg2.jpg", alt="")
    .row
      a(href="#").card
        .blackout
            h2 Banner title
        img(src="assets/images/bg5.jpg", alt="")
    .row
      .column.three
        a(href="#").card
          .blackout
            h2 Banner title
          img(src="assets/images/bg6.jpg", alt="")
      .column.three
        a(href="#").card
          .blackout
              h2 Banner title
          img(src="assets/images/bg7.jpg", alt="")
      .column.three
        a(href="#").card
          .blackout
              h2 Banner title
          img(src="assets/images/bg8.jpg", alt="")
    .row
      a(href="#").card
        .blackout
          h2 Banner title
        img(src="assets/images/bg9.jpg", alt="")
    .row
      .column
        a(href="#").card
          .blackout
            h2 Banner title
          img(src="assets/images/bg10.jpg", alt="")
      .column.double-side
        a(href="#").card.full
          .blackout
            h2 Banner title
          img(src="assets/images/bg11.jpg", alt="")
        a(href="#").card.full
          .blackout
            h2 Banner title
          img(src="assets/images/bg12.jpg", alt="")
    .row
      a(href="#").card
        .blackout
          h2 Banner title
        img(src="assets/images/bg13.jpg", alt="")
    .row
      .column.double-side
        a(href="#").card
          .blackout
            h2 Banner title
          img(src="assets/images/bg14.jpg", alt="")
        a(href="#").card.full
          .blackout
            h2 Banner title
          img(src="assets/images/bg15.jpg", alt="")
      .column
        a(href="#").card.full
          .blackout
            h2 Banner title
          img(src="assets/images/bg16.jpg", alt="")
    .row
      a(href="#").card
        .blackout
          h2 Banner title
        img(src="assets/images/bg17.jpg", alt="")
    .row
      .column.grid
        .grid-row
          a(href="#").card
            .blackout
              h2 Banner title
            img(src="assets/images/bg18.jpg", alt="")
          a(href="#").card
            .blackout
              h2 Banner title
            img(src="assets/images/bg19.jpg", alt="")
          a(href="#").card
            .blackout
              h2 Banner title
            img(src="assets/images/bg20.jpg", alt="")
        .grid-row
          a(href="#").card
            .blackout
              h2 Banner title
            img(src="assets/images/bg21.jpg", alt="")
          a(href="#").card
            .blackout
              h2 Banner title
            img(src="assets/images/bg22.jpg", alt="")
          a(href="#").card
            .blackout
              h2 Banner title
            img(src="assets/images/bg23.jpg", alt="")
    .row
      a(href="#").card
        .blackout
          h2 Banner title
        img(src="assets/images/bg24.jpg", alt="")

block footer
    include /components/footer.pug
          
      