//- Master layout

doctype html
html(lang='ru')
  head
    //- Meta
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')

    //- SEO

    //- Basic Seo
    block basicSeo
      meta(name='description' content='Index page')
      meta(name='keywords', content='index, page')

    //- Favicons
    link(rel='apple-touch-icon', sizes='180x180', href=require('images/favicons/apple-touch-icon.png'))
    link(rel='icon', type='image/png', sizes='32x32', href=require('images/favicons/favicon-32x32.png'))
    link(rel='icon', type='image/png', sizes='16x16', href=require('images/favicons/favicon-16x16.png'))
    link(rel='shortcut icon', href=require('images/favicons/favicon.ico'))

    //- Fonts
    link(href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap" rel="stylesheet")

    //- Preloaded scripts
    script(src="https://kit.fontawesome.com/ec6bf235fa.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/3.0.6/isotope.pkgd.min.js")
    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCwW-7IhuqjzV-UNaJFzEcE7pY84r7fRdc" async defer)
    
    //- Title
    block title
      title Your project!

    //- Manifest browserconfig files
    block manifestBrowserconfigFiles
      link(rel='manifest', href='./manifest.json')
      meta(name='msapplication-config' content='./browserconfig.xml')

  body

    //- block header
    include ../components/header.pug

    //- about story component
    include ../components/about.pug

    //- block menu

    //- block content
    .content-wrapper
      block content

    //- Footer
    block footer

    //- block scripts
    block scripts
