.about-component
    a.modal-logo(href="")
        img(src="assets/images/logo_white.svg", alt="")
    .modal-left-row
        a(href="") EN
        include close.pug
    <div class="dots-container"></div>
    .scroll-up
    .scroll-down
    <div class="about-content">
        <section class="background" style="background-color: #FFE24E">
            <div class="about-content-wrapper">
                h2 2008
                .about-icon
                    img(src="assets/images/logo.svg", alt="")
                p год основания креативного агентства My Duck’s Vision
            </div>
        </section>
        <section class="background" style="background-color: #135784">
            <div class="about-content-wrapper">
                h2 350000000
                .about-icon
                    img(src="assets/images/logo_white.svg", alt="")
                p просмотров собрали наши работы в Интернете
            </div>
        </section>
        <section class="background" style="background-color: #EF583A">
            <div class="about-content-wrapper">
                h2 8
                .about-icon
                    img(src="assets/images/logo.svg", alt="")
                p направлений деятельности: информационные кампании, предвыборные кампании, вирусные проекты, моушн-дизайн, спецпроекты с лидерами мнений, посев видео, медийные вбросы, работа с репутацией
            </div>
        </section>
        <section class="background" style="background-image: url(https://i.postimg.cc/kXq9Qmnj/bgd1.jpg)">
            <div class="about-content-wrapper">
                h2 450+
                .about-icon
                    img(src="assets/images/logo_white.svg", alt="")
                p проектов реализовано агентством My Duck’s Vision
            </div>
        </section>
    </div>