//- src/views/components/footer.pug

footer
  button.btn(type="button") Заказать проект
  .socials-row
    a(href="#")
      i.fab.fa-youtube
    a(href="#")
      i.fab.fa-facebook-f
    a(href="#")
      i.fab.fa-telegram-plane
    a(href="#")
      i.fab.fa-vk
    a(href="#")
      i.fab.fa-instagram
    a(href="#")
      i.fab.fa-twitter
  .footer-logo
    img(src="assets/images/footer-logo.svg", alt="footer logo")
  .copyright-text ©2019 My Duck's Vision

