//- src/views/components/footer.pug

footer
  button.btn.order-btn(type="button") Заказать проект
  include socialsRow.pug
  .footer-logo
    img(src="assets/images/footer-logo.svg", alt="footer logo")
  .copyright-text © 2019 My Duck's Vision

