//- src/views/components/header.pug

header#header
    a.logo(href="/")
        img(src="../assets/images/logo.svg", alt="my ducks' vision")
    div.header-controls
        a.header-link(href="#") EN
        include menuBtn.pug
    ul.header-list
        li
            a(href="#") О нас
        li
            a(href="#") Портфолио
        li
            a(href="#") Контакты
    include ../mixins/socialsRow.pug
    +socialsRow() 
    include menu.pug
    include order.pug
