#menu
    .title-block
        h2 My Duck's Vision
        p креативное агентство
    ul.menu-list
        li.menu-list-item
            a(href="https://benj4z.github.io/mdv/dist/about/") О нас
        li.menu-list-item
            a(href="#") Портфолио
        li.menu-list-item
            a(href="https://benj4z.github.io/mdv/dist/contact/") Контакты
    .menu-footer
        button.btn.white.order-btn(type="button") Заказать проект
            .mask
        .menu-socials
            include ../mixins/socialsRow.pug
            +socialsRow('white')