.order-block
    h2 Заказать проект
    p Придумываем и воплощаем в жизнь проекты любых масштабов. Создаём новых героев новых медиа. Дружим с блогерами, звёздами, политиками, инфлюенсерами и трендсеттерами. Обеспечиваем миллионы просмотров, способствуем попаданию в СМИ, в ЦА и на страницы мировой истории. Работаем в онлайн и за его пределами, громко и тихо, с выгодой для себя и клиентов. Поехали!
    .callback-form.white
        form(action="")
        .form-group
            input.texted-input(type="text" required)
            span.input-highlight
            span.bar
            label.texted-label(for="") Имя
        .form-group
            input.texted-input(type="text" required)
            span.input-highlight
            span.bar
            label.texted-label(for="") Email
        .form-group
            input.texted-input(type="text" required)
            span.input-highlight
            span.bar
            label.texted-label(for="") Сообщение
        .form-group
            input.checkbox#check(type="checkbox" checked)
            label.checkbox-label(for="check") Нажимая на кнопку «Отправить», я принимаю условия #[a(href="") Пользовательского соглашения и даю согласие на обработку моих персональных данных]
        button.btn.white Отправить